table {
  width: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  text-align: center;
  background: white;
  border-bottom: 3px solid #039779;
  font-size: 18px;
}
tr:nth-child(odd) {
  background-color: #f3f3f3;
  color: #039779;
  font-weight: bold;
}
td {
  padding: 10px;
}
.header {
  background-color: #039779;
  border-radius: 0px;
  padding: 8px;
}
tr:first-child {
  color: #fff;
}
.header:first-child {
  border-radius: 10px 0px 0px 0px;
}
.header:last-child {
  border-radius: 0px 10px 0px 0px;
}
